body {
    margin: 0;
    background-image: url("./static/assets/ui/QuizBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1rem;
    min-height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.swquiz-header {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem 0 6rem;
}

.swquiz-logo {
    background-image: url("./static/assets/ui/StarWarsLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    flex-grow: 4;
}

.swquiz-logo-image {
    height: 100%;
}

.swquiz-mainmenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 60%;
    background: #FFFFFF;
    /* Card / Shadow / Red */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9);
    border-radius: 16px;
}

.swquiz-mainmenu-option {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    text-transform: capitalize;
}

.swquiz-mainmenu-option.selected {
    border-bottom: 6px rgba(255, 0, 0, 0.5);
    padding-bottom: 0.50rem;
    border-bottom-style: solid;
    border-radius: 4px;
}


.swquiz-mode {
    display: flex;
    justify-content: space-between;
    padding: 4rem 6rem 0 6rem;
}

.swquiz-mode-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 60%;
}

.swquiz-question-image {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9);
    border-radius: 16px;
    max-height: 50%;
}

.swquiz-question-image-bg {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9);
    border-radius: 16px;
    background-image: url("static/assets/img/modes/people/36.jpg");
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 50vh;
}

.swquiz-mode-title {
    background: #FFFFFF;
    /* Card / Shadow / Red */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9), inset 4px 5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    width: 100%;
}

.swquiz-mode-title p {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}

.swquiz-mode-content {
    margin-top: 2rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    font-size: 1.75rem;
    padding: 2rem;
}

.sw-quiz-mode-buttons {
    display: flex;
    margin-top: 2rem;
}

.sw-quiz-mode-button-play {
    background: rgba(255, 0, 0, 0.8);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    flex-grow: 1;
}

.sw-quiz-mode-button-secondary {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    color: black;
    font-size: 2rem;
    padding: 1rem;
    flex-grow: 1;
}

.swquiz-game {
    display: flex;
    justify-content: space-between;
}

#swquiz-game-wrapper{
    display: none;
    padding: 4rem 6rem 0 6rem;
}

.swquiz-question {
    width: 70%;
    height: 60%;
}

.swquiz-question-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
}

.sqwuiz-question-answer {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.swquiz-question-content {
    background: #FFFFFF;
    /* Card / Shadow / Red */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9), inset 4px 5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    padding: 1rem;
}

.swquiz-question-content p {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}

.swquiz-lightsaber-wrapper {
    margin-top: 3%;
    height: 60px;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-image: url("./static/assets/ui/LightsaberHandle.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.swquiz-lightsaber-background {
    position: absolute;
    width: 70%;
    height: 36px;
    background: #BCBCBC;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-left: 340px;
}

.swquiz-lightsaber-timer {
    position: relative;
    width: 100%;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 10px 5px 15px #FF0000, 10px -5px 15px #FF0000, inset 0px 5px 4px rgba(255, 0, 0, 0.25);
    border-radius: 8px;
}

.swquiz-timer-text {
    display: none;
    font-weight: 800;
    font-size: 2rem;
    color: rgba(255, 0, 0, 0.8);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9);
    text-align: center;
    margin-top: 1rem;
    letter-spacing: 0.2rem;
}

/* The Modal (background) */
.swquiz-game-result-modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    padding: 4rem;
    width: 60%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9);
    border-radius: 16px;
}

.modal-content h2 {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.modal-content .sub-title {
    font-size: 1.50rem;
}

.player-name-hall-of-fame {
    width: 30rem;
    height: 4rem;
    left: 627px;
    top: 591px;

    border: 4px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.swquiz-master-yoda {
    height: 20rem;
    align-self: flex-end;
}

.swquiz-yoda-answers-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
}


.swquiz-yoda-answers-table-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.player-name-hall-of-fame-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.yoda-answers-wrapper {
    padding: 0;
    margin: 0;
}

.swquiz-hall-of-fame-answers-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    flex-direction: column;
}


.swquiz-hall-of-fame-answers {
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
    padding: 2rem;
    border-radius: 16px;
    width: 100%;
}

.swquiz-hall-of-fame-answers > div {
    display: inline-block;
    background: #FFFFFF;
    /* Card / Shadow / Red */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 20px rgba(255, 0, 0, 0.9);
    border-radius: 16px;
    width: 338px;
    height: 300px;
    margin-right: 2rem;
}

.sw-quiz-save-hall-of-fame-button {
    background: rgba(255, 0, 0, 0.8);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9);
    border-radius: 16px;
    color: white;
    font-size: 2rem;
    flex-grow: 1;
    border: none;
    font-weight: 500;
    padding: 1rem 2rem 1rem 2rem;
}

.swquiz-answers-table-wrapper {
    /*background-color: yellow;*/
    width: 100%;
    height: 20rem;
    overflow-y: scroll;
    display: inline;
}

.swquiz-answer-row {
    height: 5rem;
    background: white;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 20px rgba(255, 0, 0, 0.9);*/
    border-radius: 16px;
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.swquiz-answer-row img {
    height: 100%;
    border-radius: 16px;
}

.swquiz-answer-row div {
    display: grid;
    grid-template-columns: 6rem 1fr 1fr 1fr;
    width: 100%;
    padding: 0 1rem;
    align-items: center;
    height: 100%
}

.swquiz-yoda-answers-grid-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.sw-quiz-answers-table-correct {
    color: darkseagreen;
    font-weight: 700;
}

.sw-quiz-answers-table-incorrect {
    color: red;
    font-weight: 700;
}

.sw-quiz-answers-table-right {
    font-weight: 800
}

.swquiz-loading {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4vw;
}

.swquiz-hall-of-fame-table {
    max-height: 20rem;
    overflow-y: scroll;
}

.swquiz-hall-of-fame-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1rem;
    align-items: center;
    font-weight: 600;
    border-bottom: #C4C4C4 1px solid;
}

.swquiz-game-result-answers-header {
    display: grid;
    grid-template-columns: 6rem 1fr 1fr 1fr;
    padding: 0 1rem;
    align-items: center;
    font-weight: 600;
    border-bottom: #C4C4C4 1px solid;
    width: 100%;
}

.swquiz-hall-of-fame-player-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1rem;
    align-items: center;
}
